.cam {
	width: 100%;
	height: 100%;
	z-index: 10;
}
.scroll {
	overflow-y: hidden;
}
.h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.06rem;
	position: absolute;
	line-height: 1.2rem;
	word-spacing: -0.002rem;
	letter-spacing: -0.002rem;
	color: white;
}
.tab {
	width: 72.56%;
	height: auto;
	position: absolute;
	z-index: 20;
}
.tab2 {
	width: 3.1%;
	height: auto;
	position: absolute;
	z-index: 20;
}
.folder {
	width: 67%;
	height: auto;
	position: absolute;
	top: 1%;
	left: 15%;
}
.ssd {
	width: 97%;
	height: auto;
	position: absolute;
}
.zip {
	width: 68%;
	height: auto;
	position: absolute;
}
.pdf {
	width: 105%;
	height: auto;
	position: absolute;
}
.file {
	width: 98%;
	height: auto;
	position: absolute;
}
.file2 {
	width: 86%;
	height: auto;
	position: absolute;
}
.info {
	width: 91%;
	height: auto;
	position: absolute;
}
.sp {
	width: 93%;
	height: auto;
	position: absolute;
}
.box {
	position: absolute;
	width: 5.5%;
	height: 5.5%;
	cursor: move;
	top: 2.5%;
	left: 79%;
	z-index: 60;
}
#mydiv {
	position: absolute;
	width: 50%;
	height: auto; 
	top: 3.3%;
	left: 26%;
}
#mydiv1, #mydiv2, #mydiv3, #mydiv4, #mydiv5, #mydiv6, #mydiv7, #mydiv8, #mydiv11, #mydiv12, #mydiv13 {
	position: absolute;
	width: 7%;
	height: 15%; 
	z-index: 30;
}
#mydiv9 {
	position: absolute;
	width: 8%;
	height: 15%; 
	z-index: 30;
}
#mydiv10 {
	position: absolute;
	width: 8%;
	height: 15%; 
	z-index: 30;
}
#mydiv12 {
	position: absolute;
	width: 8%;
	height: 15%; 
	z-index: 30;
}
#mydivheader {
	width: 100%;
	height: 60%; 
	position: absolute;
	top: 42%;
	left: 0.8%;
	cursor: move;
	z-index: 40;
}
#mydivheader2 {
	width: 100%;
	height: 50%; 
	position: absolute;
	top: 49.5%;
	left: 0.8%;
	cursor: move;
	z-index: 40;
}
#mydivheader3 {
	width: 100%;
	height: auto; 
	position: absolute;
	cursor: move;
	z-index: 60;
}